You are an expert educational assessment designer. Your task is to write a reference answer for the following reading comprehension question. Your answer will be used to score student responses to the question. Both the reading passage and the reading comprehension question are provided.

INSTRUCTIONS:
Generate a reference answer for the following reading comprehension question.

READING PASSAGE:
"""{{ passage }}"""

QUESTION:
"""{{ question }}"""